$AverageScreenSize: 700px;
$SmallScreenSize: 360px;
@mixin maxSize($w: 50%, $h: 50%) {
	max-width: $w;
	max-height: $h;
}

#registration,
#authorization {
	width: 100vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	a {
		font-weight: bold;
		text-decoration: none;
	}
	input {
		width: 400px;
		border: unset;
		border-bottom: 2px solid #e3e3e3;
		outline: none;
	}

	.button {
		width: 404px;
		background: #e3e3e3;
		border: unset;
		cursor: pointer;
	}
	p {
		text-align: center;
	}
}

.block {
	display: flex;
	outline: 2px solid #000;
}

.date-time {
	float: right;
}

.success {
	color: green;
}

.error {
	color: red;
}

.avatar {
	float: right;
	right: 15px;
	@include maxSize(50%, 400px);
}

html {
	color: #000;
}

table {
	border-collapse: collapse;
	width: 80%;
	.title {
		width: 45%;
		p {
			text-align: left;
			font-style: italic;
			width: 45%;
		}
	}
	td {
		border: 2px solid #000;
		.num {
			text-align: center;
			width: 3%;
		}
	}
	.head td p {
		text-align: center;
		font-weight: bold;
	}
	.data {
		text-align: center;
		font-weight: bold;
		width: 4%;
	}
}

header {
	border: 2px solid #000;
	color: #000;
	padding-left: 10px;
	h1 {
		font-size: 20px;
	}
	@media (max-width: $AverageScreenSize) {
		h1 {
			font-size: 14px;
		}
	}
	@media (max-width: $SmallScreenSize) {
		h1 {
			font-size: 12px;
		}
	}
}

#nav {
	text-align: center;
	li {
		display: inline-block;
		border: 8px solid blue;
		background-color: blue;
		border-radius: 16px;
	}
	a {
		color: white;
		text-decoration: none;
		background-color: blue;
		&:hover {
			background: #5757db;
		}
	}
	@media (max-width: $AverageScreenSize) {
		a {
			font-size: 14px;
		}
	}
	@media (max-width: $SmallScreenSize) {
		a {
			font-size: 12px;
		}
	}

	.parent_DDmenu {
		position: relative;

		.DDmenu {
			display: none;
			position: absolute;
			width: 220px;
			z-index: 10;
			.DDmenuUl {
				display: flex;
				flex-direction: column;
				background-color: blue;
				li {
					border-color: blue;
					background-color: blue;
					height: 15px;
					a {
						background-color: blue;
						border-color: blue;
						&:hover {
							background: blue;
						}
					}
				}
			}
		}
		&:hover .DDmenu {
			display: block;
		}
	}
}

#navAnch {
	list-style-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #ff7a2f),
		color-stop(50%, #ff7a2f),
		color-stop(50%, #ffb214)
	);
	list-style-image: linear-gradient(#ff7a2f 0, #ff7a2f 50%, #ffb214 50%);
}

#BackGround-BigPhoto {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(63, 63, 62, 0.404);
	button {
		padding: 20px 40px;
		border: 0;
		background: blue;
		color: white;
		font-size: 24px;
	}
}

#BigPhoto {
	margin: 10% auto 10% auto;
	display: none;
	max-width: 1500px;
	max-height: 700px;
}

#album {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.photo {
		margin: 3px;
		img {
			height: 240px;
		}
		@media (max-width: 370px) {
			img {
				height: 140px;
			}
		}
	}
}

#dateBorn {
	.date {
		width: 430px;
		#calendar {
			display: none;
			position: absolute;
			border: 8px solid #c4ee71;
			background-color: #c4ee71;
		}
		#month {
			float: left;
			margin: 0px 3px 0px 40px;
		}
		.oneMonth {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			li {
				display: inline-block;
				text-align: center;
				margin: 0px 3px 0px 3px;
				width: 30px;
				border: 2px solid #689dbb;
				background-color: #689dbb;
			}
			.days li {
				margin-bottom: 2px;
				&:hover {
					border: 2px solid #e85f4c;
					background: #e85f4c;
				}
				&:active {
					border: 2px solid #980f00;
					background: #980f00;
				}
			}
		}
	}
}

#listSessionStor,
#listLocalStor,
#listCookieVisitStor {
	border: 2px solid #000;
	margin-top: 10px;
}

#notification {
	position: absolute;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: black;
	display: none;
	padding: 20px 50px 20px 50px;
	p {
		color: white;
		font-size: 32px;
		text-align: center;
	}
}

.notification__buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
	button {
		padding: 15px 40px;
		background: rgb(240, 240, 68);
		color: black;
		font-size: 16px;
	}
}
