!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "public/css/style.css", :rel => "stylesheet"}/
    %title Обо мне
  %body
    %header
      %h1 Про меня любимого
      =Haml::Engine.new(File.read('nav.haml')).render
    %section
      %h2 Начало моего пути
      Биогра́фия (др.-греч. βίος — жизнь + γράφω — пишу; букв. «жизнеописание») — описание жизни человека, сделанное
      другими людьми или им самим (автобиография).
      %br/
      %br/
      Биография включает в себя не только основные факты (Биографический факт) жизни, такие как рождение,
      происхождение, образование, служба, работа, семейные отношения и смерть; она также изображает опыт человека во
      время событий его жизни. В отличие от профиля или автобиографии (резюме), биография представляет историю жизни
      субъекта, выделяя различные аспекты его жизни, в том числе интимных подробностей, и может включать в себя анализ
      личности субъекта.
      %br/
      %br/
      Биографические произведения обычно не являются художественной литературой, но художественная литература также
      может использоваться для изображения жизни человека. Встречается в различных средствах массовой информации и
      коммуникации, от литературы до кино, образуют жанр, известный как биография.
      %br/
      %br/
      Биография является источником первичной социологической информации, позволяющей определить психологический тип
      личности в его исторической, национальной и социальной обусловленности.
    =Haml::Engine.new(File.read('ShareScrp.haml')).render