!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Контакт
  %body
    %header
      %h1 Контакты
      =Haml::Engine.new(File.read('nav.haml')).render
    %form{:name => "form", :onkeydown => "return event.key != 'Enter';", :onsubmit => "return validate()"}
      %p
        ФИО:
        %input#FIO.required{:maxlength => "50", :onchange => "CheckFIO(1)", :onmouseenter => "enter('FIO')", :onmouseleave => "leave('FIO')", :size => "50", :type => "text"}/
        %span#FIOf.error
        %span#FIOd.info
      %p
        Телефон:
        %input#phone.required{:maxlength => "20", :onchange => "CheckPhone(2)", :onmouseenter => "enter('phone')", :onmouseleave => "leave('phone')", :size => "20", :type => "text"}/
        %span#phonef.error
        %span#phoned.info
      %p
        Male
        %input{:checked => "checked", :name => "pol", :type => "radio", :value => "male"}/
        Female
        %input{:name => "pol", :type => "radio", :value => "female"}/
      #dateBorn
        Дата рождения
        .date
          %input#date.required{:type => "text", :value => "1.1.2000"}/
          %span#datef.error
          %span#dated.error
          #calendar
            .mm-yy
              #month
                %select#monthSelect{:onchange => "setDate()"}
                  %optgroup#monthGroup
              .year
                %select#yearSelect{:onchange => "setDate()"}
                  %optgroup#yearGroup
            .oneMonth
              %ul#week
              %ul#days
      %p
        Message
        %br/
        %textarea#texarea.required{:cols => "50", :name => "message", :onchange => "CheckTextArea(4)", :onmouseenter => "enter('texarea')", :onmouseleave => "leave('texarea')", :rows => "10"}
        %span#texareaf.error
        %span#texaread.info
      %br/
      %input#submit{:type => "submit", :value => "Отправить"}/
      %input{:type => "reset", :value => "Очистить форму"}/
    =Haml::Engine.new(File.read('ShareScrp.haml')).render
    %script{:src => "js/drop_downCalendar.js"}
    %script{:src => "js/formInspector.js"}