!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Главная страница
  %body
    %header
      %h1 Главная страница
      =Haml::Engine.new(File.read('nav.haml')).render
    %section
      %img.avatar{:alt => "Морда ученика", :src => "img/foto-ustavshij-kot.jpg"}/
      %h2 Фамилия Имя Отчество
      %p
        %b Группа
      %p Номер и название настоящей лабораторной работы
      =Haml::Engine.new(File.read('ShareScrp.haml')).render
    %button{:onclick => "Game()"} Start
    #game
    %script{:src => "js\\game.js"}