%nav#nav
  %ul
    %li#indexNav.parent_DDmenu
      %a{:href => "index.html"} Главная страница
    %li#aboutMeNav.parent_DDmenu
      %a{:href => "aboutMe.html"} Обо мне
    %li#myInterestsNav.parent_DDmenu
      %a{:href => "myInterests.html"} Мои интересы
    %li#coursesNav.parent_DDmenu
      %a{:href => "courses.html"} Учёба
    %li#photoAlbumNav.parent_DDmenu
      %a{:href => "photoAlbum.html"} Фотоальбом
    %li#contactNav.parent_DDmenu
      %a{:href => "contact.html"} Контакт
    %li#viewingHistoryNav.parent_DDmenu
      %a{:href => "viewingHistory.html"} История просмотров
  #date123
#notification
  %div
    %p Сайт использует куки!!
    %p Печеньки это вкусно ? :)
    .notification__buttons
      %button#accept Согласен
      %button Не согласен