%script{:crossorigin => "anonymous", :integrity => "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", :src => "https://code.jquery.com/jquery-3.6.0.min.js"}
%script{:src => "js\\images.js"}
%script{:src => "js\\Anchors.js"}
%script{:src => "js\\drop_downMenu.js"}
%script{:src => "js\\Text.js"}
%script{:src => "js\\Cookies.js"}
%script{:src => "js\\sessionRecorder.js"}
%script{:src => "js\\timeMenu.js"}
%script{:src => "js\\CookieResol.js"}