!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Тест
  %body
    %header
      %h1 Тест по дисциплине Инженерная графика
      =Haml::Engine.new(File.read('nav.haml')).render
    %form{:action => "mailto:psasa7530@gmail.com", :name => "form", :onsubmit => "return validate()"}
      %p
        ФИО:
        %input#FIO.required{:maxlength => "50", :size => "50", :type => "text"}/
        %span#1f.error
      %select{:name => "group"}
        %optgroup{:label => "Is"}
          %option{:value => "IS-1"} IS-1
          %option{:value => "IS-2"} IS-2
        %optgroup{:label => "PIN"}
          %option{:value => "PIN-1"} PIN-1
      %br/
      %br/
      %div{:style => "border: 2px solid rgb(177, 5, 5); padding: 5px;"}
        %p Какой формат страницы является наименьшим?
        A:
        %input.required{:name => "int", :type => "text"}/
        %span#2f{:style => "color:red"}
        %br/
        %br/
        %div
          %p Как обозначается формат чертежа:
          %p
            буквой и цифрой
            %input{:checked => "checked", :name => "2 task", :type => "radio", :value => "буквой и цифрой"}/
          цифрой
          %input{:name => "2 task", :type => "radio", :value => "цифрой"}/
          буквой
          %input{:name => "2 task", :type => "radio", :value => "буквой"}/
        %p Формат А4 имеет размеры:
        %select{:name => "group"}
          %optgroup{:label => "297"}
            %option{:value => "420"} х420
            %option{:value => "380"} х380
          %optgroup{:label => "210"}
            %option{:value => "297"} 297
            %option{:value => "280"} 280
            %option{:value => "305"} 305
      %br/
      %input{:type => "submit", :value => "Отправить"}/
      %input{:type => "reset", :value => "Очистить форму"}/
      =Haml::Engine.new(File.read('ShareScrp.haml')).render
    %script{:src => "js/formInspector.js"}