!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "public/css/style.css", :rel => "stylesheet"}/
    %title История просмотров
  %body
    %header
      %h1 История просмотров
      =Haml::Engine.new(File.read('nav.haml')).render
    #listLocalStor
      %b История за всё время(localStorage)
    #listSessionStor
      %b История текущего сеанса(sessionStorage)
    #listCookieVisitStor
      %b История c печенюшек(Cookies)
      =Haml::Engine.new(File.read('ShareScrp.haml')).render
    %script{:src => "public/js/viewingHistory.js"}